<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Back! Your Account is Reactivated.</title>

    <style>
        .username {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .message {
            font-size: 16px;
            margin-bottom: 5px;
        }
        .message-heading {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .info {
            font-size: 14px;
            margin-bottom: 5px;
        }
        .from-reg {
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 2px;
        }
        .from {
            font-size: 16px;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>    
    <div class="username">Dear {{ fullName }},</div>
    <div class="message">We are thrilled to welcome you back to Wallet watcher! Your account has been successfully reactivated, and we're excited to have you as part of our community once again.</div>
    <div class="message">We understand that sometimes circumstances change, and we appreciate your decision to return. We're here to provide you with the best experience possible.</div>
    <div class="message">Your account is now fully active, and you can enjoy all the benefits of Wallet watcher just like before. Here's a quick reminder of what you can do:</div>
    
    <ol>
        <li class="message-heading">Expense Tracking:</li>
        <ul>
            <li class="info">
                Record and categorize daily expenses to understand where your money is going.
            </li>
        </ul>
        <li class="message-heading">Income Tracking:</li>
        <ul>
            <li class="info">
                Log your sources of income to get a clear picture of your financial inflow.
            </li>
            <li class="info">
                Track salary, freelance earnings, investments, and other income streams.
            </li>
        </ul>
        <li class="message-heading">Interactive Reports and Charts:</li>
        <ul>
            <li class="info">
                View your financial data through interactive graphs and charts.
            </li>
            <li class="info">
                Gain insights into your spending habits and trends over time.
            </li>
        </ul>
        <li class="message-heading">Savings and Investment Tracking:</li>
        <ul>
            <li class="info">
                Monitor your savings accounts, investments, and retirement funds.
            </li>
            <li class="info">
                Calculate your net worth to see your overall financial health.
            </li>
        </ul>
        <li class="message-heading">Mobile Accessibility:</li>
        <ul>
            <li class="info">
                You can access the Wallet watcher website on your mobile without any problem.
            </li>
        </ul>
        <li class="message-heading">User-Friendly Interface:</li>
        <ul>
            <li class="info">
                Provide an intuitive and easy-to-navigate design for a smooth user experience.
            </li>
            <li class="info">
                Customizable dashboards and settings to suit individual preferences.
            </li>
        </ul>
        <li class="message-heading">Data Export and Backup:</li>
        <ul>
            <li class="info">
                Allow users to export their financial data or set up automatic backups.
            </li>
            <li class="info">
                Ensure data is secure and retrievable in case of system failures.
            </li>
        </ul>
    </ol>

    <div class="message">If you have any questions, need assistance, or want to provide feedback, feel free to reach out at {{ custContactEmailId }} anytime.</div>
    <div class="message">Thank you for choosing Wallet watcher. We look forward to serving you and making your experience exceptional.</div>
    <div class="message">Welcome back, and happy exploring!</div>

    <div class="from-reg">Best regards,</div>
    <div class="from">Team Wallet watcher</div>
</body>
</html>