<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation: New Card Registration</title>

    <style>
        .username {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .message {
            font-size: 16px;
            margin-bottom: 5px;
        }
        .message-heading {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: -10px;
        }
        .info {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .info-span {
            font-weight: normal;
        }
        .from-reg {
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 2px;
        }
        .from {
            font-size: 16px;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>    
    <div class="username">Dear {{ fullName }},</div>
    <div class="message">We're pleased to inform you that the card reactivation request for your account on Wallet watcherhas been successfully processed. Your card {{ cardNumber }} has been reactivated and is now available for use in making payments and transactions on our platform.</div>

    <div class="message">Your feedback is invaluable to us, and we appreciate your initiative in requesting the reactivation of your card. If you have any further questions or require assistance, please don't hesitate to contact our support team at {{ custContactEmailId }}.</div>
    <div class="message">Thank you for your patience and cooperation throughout this process. We value your continued trust and confidence in Wallet watcher.</div>

    <div class="from-reg">Best regards,</div>
    <div class="from">Team Wallet watcher</div>
</body>
</html>