<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation: New Card Registration</title>

    <style>
        .username {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .message {
            font-size: 16px;
            margin-bottom: 5px;
        }
        .message-heading {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: -10px;
        }
        .info {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .info-span {
            font-weight: normal;
        }
        .from-reg {
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 2px;
        }
        .from {
            font-size: 16px;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>    
    <div class="username">Dear {{ fullName }},</div>
    <div class="message">We are writing to confirm that your account with account number {{ accountNumber }} has been successfully deactivated as per your request. This means that your account is now inactive and cannot be used for registering new investments or accessing any associated services on our platform.</div>

    <div class="message">We understand that this decision may have been made after careful consideration, and we want to assure you that your account deactivation has been processed securely and in accordance with your wishes.</div>
    <div class="message">Should you have any questions or concerns regarding this deactivation, or if you believe this action was taken in error, please don't hesitate to reach out to our support team at {{ custContactEmailId }}. We're here to assist you with any further assistance you may need.</div>
    <div class="message">We appreciate the trust you have placed in us, and we remain committed to providing you with exceptional service in the future should you choose to return.</div>
    <div class="message">Thank you for being a valued member of our community.</div>

    <div class="from-reg">Best regards,</div>
    <div class="from">Team Wallet watcher</div>
</body>
</html>