<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation: New Card Registration</title>

    <style>
        .username {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .message {
            font-size: 16px;
            margin-bottom: 5px;
        }
        .message-heading {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: -10px;
        }
        .info {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .info-span {
            font-weight: normal;
        }
        .from-reg {
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 2px;
        }
        .from {
            font-size: 16px;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>    
    <div class="username">Dear {{ fullName }},</div>
    <div class="message">We're delighted to inform you that your account with account number {{ accountNumber }} has been successfully reactivated as per your request. Your account is now active and ready to be used for registering new investments and accessing all associated services on our platform.</div>

    <div class="message">We understand that you may have chosen to reactivate your account after careful consideration, and we want to assure you that your request has been processed securely and promptly.</div>
    <div class="message">If you have any questions or need further assistance regarding your reactivated account, please don't hesitate to reach out to our support team at {{ custContactEmailId }}. We're here to assist you every step of the way.</div>
    <div class="message">Thank you for choosing to continue your journey with us. We value your trust and look forward to serving you as you pursue your investment goals.</div>

    <div class="from-reg">Best regards,</div>
    <div class="from">Team Wallet watcher</div>
</body>
</html>