<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Updated Successfully</title>

    <style>
        .username {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .message {
            font-size: 16px;
            margin-bottom: 5px;
        }
        .message-heading {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .info {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .info-span {
            font-weight: normal;
        }
        .from-reg {
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 2px;
        }
        .from {
            font-size: 16px;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>    
    <div class="username">Dear {{ fullName }},</div>
    <div class="message">We're writing to inform you that your password has been successfully updated. If you initiated this change, you can disregard this email. However, if you did not request a password change, please take immediate action by using our "Forgot Password" functionality to secure your account.</div>
    
    <div class="message-heading">If you initiated the password change:</div>
    <div class="message">You can rest assured that your account is now protected with your new password. Your account security is of utmost importance to us, and we're here to support you in keeping it safe.</div>
    
    <div class="message-heading">If you did not initiate the password change:</div>
    <div class="message">We take unauthorized access to your account very seriously. We recommend the following steps:</div>
    
    <ol>
        <li class="info">Reset Your Password: <span class="info-span">If you didn't request this change, reset your password as soon as possible using the "Forgot Password" link on our login page.</span></li>
        <li class="info">Review Your Account: <span class="info-span">After resetting your password, please review your account details and ensure that no other unauthorized changes have occurred.</span></li>
        <li class="info">Contact Support: <span class="info-span">If you suspect any unusual activity or have concerns about your account's security, please contact at {{ custContactEmailId }}. We will assist you in securing your account and investigating any potential issues.</span></li>
    </ol>
    
    <div class="message">Your account's security is our top priority, and we are committed to providing you with a safe and secure experience on our platform. Thank you for your vigilance and cooperation in maintaining the integrity of your account.</div>
    
    <div class="from-reg">Best regards,</div>
    <div class="from">Team Wallet watcher</div>
</body>
</html>